/* Global settings  */
body {
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

/* Container settings */
.header,
.footer,
.hero {
  background: #1f2937;
  color: #f9faf8;
}

.hero, 
/* .info, */
.quote,
.cta,
.footer {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}


/* Specific section styling */

/* header */
.header {
  padding: 24px 0;
}

.header .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.header a {
  text-decoration: none;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* header & hero */
.header a,
.hero .text {
  font-size: 18px;
  color: #e5e7eb;
} 

/* hero */

.hero .container {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.hero .heading h1 {
  font-size: 48px;
  margin: 0;
  padding: 0px;
}

.hero .content {
  width: 500px;
}

button {
  color: #f9faf8;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background: #3882F6;
  padding: 12px 32px;
}

/* info */
.title {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  padding: 15px 0;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.item {
  max-width: 200px;
}

.item svg {
  color: #3882F6;
}

.item .text {
  padding: 16px 0;
  text-align: center;
}

/* quote */
.quote {
  background: #e5e7eb;
}

.quote .text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  padding: 60px 0;
}

.quote cite {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-align: right;
  padding: 10px 0;
}

/* cta */
.cta .container {
  color: #f9faf8;
  background-color: #3882F6;
  border-radius: 8px;
  height: 150px;
  width: 1128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta h2 {
  margin: 0;
}